@{
    View.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<ul>
<li>@Html.ActionLink("Grid", "Grid")</li>
<li>@Html.ActionLink("Chart", "Chart")</li>

</ul>